<!-- templates/reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/passwords.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">

    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <div class="container">
    <h2>Reset Your Password</h2>
    <form method="POST" onsubmit="return validatePasswords();">
        <input type="password" name="password" id="password" placeholder="New Password" requiredautocomplete="off"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" 
            title="Password must be at least 8 characters long, with at least one uppercase, one lowercase, one number, and one special character.">
        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required autocomplete="off">
        <span id="error-message" style="color: red;"></span>
      <button type="submit">Reset Password</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
  </div>
</body>
</html>
